$bnt-color: #1c90d9;

.empty-btn {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    display: block;
    border-radius: 30px;
    background: transparent;
    border: 1px solid $bnt-color;
    padding: 5px 15px;
    color: $bnt-color;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    width: 120px;

    transition: all 0.2s ease-in-out;

    &:hover {
      background: rgba($bnt-color, 0.3);
    }
  }

  .unfollow-btn {
    color: white;
    border: 1px solid rgb(209, 66, 66);
    background: rgb(209, 66, 66);

    &:hover {
      background: rgb(209, 66, 66);
    }
  }

  .following-btn {
    background: $bnt-color;
    color: white;
  }
}
