@import 'react-redux-toastr/src/styles/index';

/* Указываем box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.app-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  background: rgba(21, 32, 43, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-bg {
  background: rgb(21, 32, 43);
}

button:disabled {
  background: rgb(117, 113, 113);
}

button:focus {
  outline: none;
}

.workspace-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;

  background: rgba(0, 0, 0, 0.4);
}

$bnt-color: #1c90d9;

.btn {
  display: block;
  border-radius: 30px;
  background: transparent;
  border: 1px solid $bnt-color;
  padding: 5px 15px;
  color: $bnt-color;

  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  width: 120px;

  transition: all 0.2s ease-in-out;

  &:hover {
    background: rgba($bnt-color, 0.3);
    cursor: pointer;
  }
}

.workspace {
  background: rgb(31, 47, 63);
  color: white;
  padding-top: 80px;
  position: relative;
  min-height: 100vh;
}

main {
  min-height: 100vh;
  background: rgb(31, 47, 63);
}

@media screen and (min-width: 700px) {
  .workspace {
    margin: 0 0 0 20%;
    padding-top: 0;
    background: rgb(31, 47, 63);
  }
}
