.create-page {
  padding-bottom: 20px;
  border: 1px solid transparent;

  .create-page__header {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid #4f6294;
    font-size: 2rem;
    margin: 40px 0;
  }

  .file-info {
    width: 50%;
    margin: 0 auto;
  }

  .input-error {
    margin: 15px auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px double red;
    width: fit-content;
    color: rgb(202, 89, 89);
  }

  .image__text {
    display: block;
    margin: 0 auto;
    font-size: 1.7rem;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
    width: fit-content;

    &:hover {
      cursor: pointer;
      color: cadetblue;
    }
  }

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    input[type='file'] {
      display: none;
    }

    .file-upload {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 4px solid #ffffff;
      overflow: hidden;
      background-image: linear-gradient(to bottom, #2590eb 50%, #ffffff 50%);
      background-size: 100% 200%;
      transition: all 1s;
      color: #ffffff;
      font-size: 3rem;

      &:hover {
        background-position: 0 -100%;
        cursor: pointer;
        color: #2590eb;
      }
    }
  }

  .post-form-btn {
    display: block;
    margin: 20px auto 0;
    padding: 10px;
    background: brown;
    text-transform: uppercase;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    transition: all 0.5s ease-in;

    &:hover {
      color: white;
      width: 170px;
      background: rgb(85, 8, 8);
    }
  }

  .post-form__textarea {
    width: 80%;
    min-height: 100px;
    margin: 30px auto 0;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 20px 10px 10px 20px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    display: block;

    &::-webkit-scrollbar {
      width: 12px;
      background-color: #f5f5f5;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #4285f4;
    }

    &:focus {
      outline: none;
      background: rgb(207, 207, 207);
      width: 90%;
    }
  }

  .hashtags__select {
    width: 90%;
    margin: 30px auto 0;
    color: black;
  }

  .post-form {
    width: 90%;
    margin: 0 auto;

    border-radius: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 700px) {
  .create-page {
    padding-bottom: 20px;

    .create-page__header {
      margin: 0 0 40px 0;
    }

    .post-form-btn {
      display: block;
      margin: 20px auto 0;
      padding: 10px;
      background: brown;
      text-transform: uppercase;
      font-size: 1.5rem;
      border: none;
      border-radius: 10px;
      width: 150px;
      cursor: pointer;
      transition: all 0.5s ease-in;

      &:hover {
        color: white;
        width: 170px;
        background: rgb(85, 8, 8);
      }
    }

    .post-form__textarea {
      width: 50%;

      &:focus {
        width: 70%;
      }
    }

    .hashtags__select {
      width: 60%;
    }

    .post-form {
      width: 60%;
      margin: 0 auto;

      border-radius: 20px;
      padding: 20px 10px;
    }
  }
}
