.post-page {
  .post-page__img {
    width: 500px;
    height: 500px;
    background-color: #3d3e40;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
