.post-page {
  .post-page__img {
    background-image: url('https://res.cloudinary.com/dlhi0pku2/image/upload/v1601032858/v9l7brren5n0u6j4joeu.jpg');
    background-color: #3d3e40;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
}
